
<div class="mon_slide jumbotron">
  
  <h1 class="title">Free Online Courses.<br/>
Advance Your Career. Improve Your Life.</h1>
  <p class="mon_para"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<h1 style="text-align:center;">edX Programs Starting Soon</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sous-div">
        <div class="sous-sous-div">
          <div class="img-container">
            <%= image_tag("best_practice_378x225.jpg", :alt => "rss feed", :class =>'img-thumbnail' ) %>
          </div>
          <div class="info-container">
            <h4>lorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, asperiores saepe voluptate qui corporis ea recusandae ad optio pariatur nostrum consequuntur quo beatae deserunt rerum vel eveniet reprehenderit fugit. Suscipit?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="sous-div">
        <div class="sous-sous-div">
           <div class="img-container">
             <%= image_tag("best_practice_378x225.jpg", :alt => "rss feed", :class =>'img-thumbnail' ) %>
          </div>
          <div class="info-container">
            <h4>lorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, sint, alias, odio, dolores quis ullam quibusdam vitae pariatur sequi magni nostrum accusamus. In, eligendi voluptates doloremque ducimus animi cum illo!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"><div class="sous-div">
        <div class="sous-sous-div">
           <div class="img-container">
             <%= image_tag("best_practice_378x225.jpg", :alt => "rss feed", :class =>'img-thumbnail' ) %>
          </div>
          <div class="info-container">
            <h4>lorem</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, ullam, sequi, iure, quis quaerat a fugit quos sunt modi voluptates quam unde ut assumenda blanditiis exercitationem est itaque quod perferendis.</p>
          </div>
        </div>
      </div></div>
    <div class="col-md-3"><div class="sous-div">
        <div class="sous-sous-div">
           <div class="img-container">
              <%= image_tag("best_practice_378x225.jpg", :alt => "rss feed", :class =>'img-thumbnail' ) %>
          </div>
          <div class="info-container">
            <h4>lorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni commodi quibusdam. Culpa, velit atque neque placeat autem dolore sed. Perferendis, nemo nobis iste asperiores excepturi nesciunt debitis quam porro.</p>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>


