<footer>
<div class="container-fluid">    
<div class="row">
	
			<div class="col-md-4">
			    	<ul class="unstyled">
					<li>More<li>
					<li><a href="#">Training</a></li>
					<li><a href="#">Students & teachers</a></li>
					<li><a href="#">The Shop</a></li>
				</ul>
			</div>
			
			<div class="col-md-4">
			    	<ul class="unstyled">
					<li>More<li>
					<li><a href="#">Training</a></li>
					<li><a href="#">Students & teachers</a></li>
				</ul>
			</div>
				<div class="col-md-4">
			    	<ul class="unstyled">
					<li>More<li>
					<li><%= link_to "contact", contact_path%></li>
					<li><a href="#">Students & teachers</a></li>
				</ul>
			</div>
								
	</div>
	<hr>
	<div class="row">
		
			<div class="span4">
				<p class="muted pull-right">© 2017 Company Name. All rights reserved</p>
			</div>
		</div>
</div>
</footer>